* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}

:root {
    --roxo-claro: #9672A6;
    --roxo-escuro: #1F1426;
    --roxo-medio: #5F4373;
    --roxo-profund: #4A3459;
    --cinza: #89888C;
}

html, body {
    height: 100%;
}

body {
    background-color: var(--roxo-profund);
    color: white;
    display: flex;
    flex-direction: column;
}

/* HEADER */
header {
    background: linear-gradient(90deg, var(--roxo-claro), var(--roxo-medio), var(--roxo-escuro));
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 2.2rem;
    margin-bottom: 15px;
}

/* NAV PADRÃO */
.header-nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.header-nav a {
    background-color: var(--roxo-claro);
    padding: 10px 20px;
    border-radius: 8px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.header-nav a:hover {
    background-color: var(--roxo-escuro);
}

/* MAIN */
main {
    padding: 40px;
    display: flex;
    justify-content: center;
    flex: 1;
}

/* IMAGEM */
.hero-img {
    width: 100%;
    max-width: 450px;
    height: 450px;
    object-fit: cover;
    object-position: top;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.4);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: block;
    margin: 0 auto;
}

.hero-img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 25px rgba(0,0,0,0.6);
}

/* FOOTER */
footer {
    text-align: center;
    background-color: var(--roxo-escuro);
    padding: 35px 0;
}

/* CAIXA DE TREINO */
.box-treino {
    background-color: var(--roxo-medio);
    padding: 25px;
    border-radius: 12px;
    width: 95%;
    max-width: 900px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.4);
    overflow-x: auto;
}

/* TABELA */
table {
    width: 100%;
    border-collapse: collapse;
    color: white;
    table-layout: fixed;
    font-size: 20px;
}

th, td {
    padding: 12px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    text-align: center;
    vertical-align: middle;
    word-wrap: break-word;
}

/* IMAGENS DA TABELA */
table img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
}

/* RESPONSIVIDADE DO HEADER */
@media (max-width: 768px) {

    header {
        padding: 15px;
    }

    header h1 {
        font-size: 1.6rem;
        margin-bottom: 10px;
    }

    .header-nav a {
        padding: 8px 12px;
        font-size: 0.85rem;
    }
}

/* TELAS MUITO PEQUENAS */
@media (max-width: 480px) {

    .header-nav {
        flex-direction: column;
        gap: 10px;
    }

    .header-nav a {
        width: 90%;
        text-align: center;
    }

    table img {
        width: 100px;
        height: 100px;
    }

    table {
        font-size: 16px;
    }
}